.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  span {
    &:first-child {
      font-weight: bold;
      cursor: pointer;
    }
    &:last-child {
      font-size: 14px;
      cursor: pointer;
    }
  }
}
